*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  gap: 30px;
  margin: 0 30px;
  inline-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.content__list-container {
  position: relative;
  display: flex;
  max-height: 298px;
  max-width: 399px;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  margin-top: 133px;
  flex: 1;
  width: 100%;
  height: 100%;
  gap: 26px;

}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin: 0 0 11px;
  margin-top: 211px;
  
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  /*gap: 30px;
  margin-top: -30px;*/
  padding-left: 3px;
  padding-right: 3px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 26px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 10px; 
}

.title {
  padding: 0 0 26px;
  color: #ffffff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
  cursor: pointer;
}

.content__video-card-title {
  padding: 2px 2px 5px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  max-width: 192px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  padding: 0 2px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:nth-of-type(2) {
  margin-left: 50px; /* вправо */
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  appearance: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-family: inherit;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 4px 6px;
}

.search-form__pseudo-checkbox {
  justify-self: center;
  align-self: center;
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.button {
  border: 1px solid #fff;
  padding: 6px 0;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.more-button {
  display: block;
  width: 100%;
  height: 34px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.result__video-container,
.content__list-container {
  position: relative;
}
